.banner_wrapper {
    gap: 3vh;
    min-height: 100vh;
    display: flex; justify-content: center; align-items: center;
    width: 100vw;
    flex-direction: column;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='full' height='full' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1512 560L0 560 L0 293.21Q71.74 292.95%2c 72 364.69Q101.6 274.29%2c 192 303.89Q245.84 237.73%2c 312 291.56Q400.16 259.72%2c 432 347.88Q447.72 291.6%2c 504 307.31Q527.62 258.93%2c 576 282.54Q671.47 258.01%2c 696 353.49Q726.32 263.81%2c 816 294.13Q859.79 265.93%2c 888 309.72Q940.38 290.1%2c 960 342.48Q992.81 255.3%2c 1080 288.11Q1124.11 260.22%2c 1152 304.33Q1198.53 278.86%2c 1224 325.39Q1242.25 271.63%2c 1296 289.88Q1343.6 265.48%2c 1368 313.07Q1425.94 299.01%2c 1440 356.96Q1468.33 313.29%2c 1512 341.62z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 387.94Q36.62 352.56%2c 72 389.18Q154.01 351.19%2c 192 433.2Q219 340.19%2c 312 367.19Q354.69 337.88%2c 384 380.56Q469.44 346%2c 504 431.44Q507.27 362.71%2c 576 365.98Q604.08 322.06%2c 648 350.14Q745.95 328.09%2c 768 426.04Q812.13 398.17%2c 840 442.29Q857.29 339.58%2c 960 356.86Q1026.99 303.85%2c 1080 370.83Q1149.35 320.17%2c 1200 389.52Q1284.48 354%2c 1320 438.49Q1342.51 389%2c 1392 411.51Q1423.15 322.66%2c 1512 353.81z' fill='rgba(53%2c 108%2c 177%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 429.19Q102.72 411.91%2c 120 514.64Q131.32 453.96%2c 192 465.28Q214.17 415.45%2c 264 437.62Q292.77 394.39%2c 336 423.17Q422.63 389.81%2c 456 476.44Q521.93 422.37%2c 576 488.3Q625.04 465.34%2c 648 514.38Q687.81 434.19%2c 768 474Q819.5 405.5%2c 888 457.01Q937.13 386.13%2c 1008 435.26Q1064.7 419.97%2c 1080 476.67Q1101.96 426.63%2c 1152 448.6Q1237.13 413.73%2c 1272 498.85Q1291.09 445.94%2c 1344 465.03Q1398.35 399.38%2c 1464 453.72z' fill='rgba(37%2c 70%2c 125%2c 1)'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 543.45Q69.36 492.81%2c 120 562.16Q166.57 536.73%2c 192 583.3Q194.77 514.07%2c 264 516.83Q290.64 471.48%2c 336 498.12Q393.22 483.34%2c 408 540.55Q457.67 518.22%2c 480 567.89Q481.75 497.64%2c 552 499.39Q628.03 503.42%2c 624 579.45Q658.58 494.03%2c 744 528.61Q787.65 452.26%2c 864 495.91Q930.35 442.26%2c 984 508.62Q1041.43 494.05%2c 1056 551.47Q1125.25 500.72%2c 1176 569.97Q1218.32 540.29%2c 1248 582.61Q1283.93 498.55%2c 1368 534.48Q1416.8 511.28%2c 1440 560.08Q1480.01 480.09%2c 1560 520.1z' fill='rgba(24%2c 47%2c 93%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.page_wrapper{
    border: 1px solid black; width: 80vw; min-height: 100vh;
}
.intro_wrapper{
    display: flex; justify-content: center; align-items: center;
}
.vid_container{
    background-color: rgba(53, 109, 177, 1);

}
.banner_wrapper:first-child{ display: none;}
.header_page{ font-size: 60px;}
.carousel_page{
    width: 100vw; 
}
.caro_div{ flex-direction: column; width: 70vw; }
.carousel_title{ font-size: 55px; font-weight:700; color: #fff;}
.carousel_desc{ font-size: 23px; color: rgb(207, 207, 205);}
.carousel_btn{
    all: unset; 
    width: 15%; height: 6vh; border: 1px soilid black; background-color: rgb(69, 69, 204); color: white;
    display: flex; justify-content: center; align-items: center; align-self: center; border: 3px solid rgb(69, 69, 204);
}
.carousel_btn:hover{
    color: rgb(69, 69, 204); background-color: white; 
}