.prediction_bg{
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='full' height='full' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1119%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1120%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L1140.48 0L1440 266.09z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1140.48 0L1440 266.09L1440 414.03L508.37 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M508.37 0L1440 414.03L1440 471.53999999999996L389.34000000000003 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M389.3399999999999 0L1440 471.53999999999996L1440 474.66999999999996L153.29999999999993 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L62.23 560L0 394.03z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 394.03L62.23 560L74.03 560L0 300.79999999999995z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 300.8L74.03 560L565.73 560L0 119.10000000000002z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 119.10000000000002L565.73 560L884.31 560L0 88.29000000000002z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1119'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='84.72%25' y1='139.29%25' x2='15.28%25' y2='-39.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1120'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 47%2c 93%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.bodyWrapper {
  margin-top: 12vh;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

.btn_predict {
  margin-right: 10px;
}

.full_wrapper {
  display: flex;
  justify-content: center;
}

.header_wrapper {
  display: flex;
  justify-content: center;
  background-color: #867665;
  font-size: 20px; padding: 2px;
}

.wrapper {
  margin-bottom: 20px;
  padding: 10px;
  width: 80vw;
}

.option_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
}

.checkboxWrapper {
  width: fit-content;
  margin: 10px;
  height: 24px;
  background-color: #fff;
  border-radius: 5px;
}

.design_header {
  background-color: #23679e;
  border-radius: 10rem;
  width: 25rem;
  color: white;
  display: flex;
  justify-content: center;
}

.disease_full_wrapper {
  display: flex;
  justify-content: center;
}
.disease_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disease {
  margin-left: 10px;
  font-size: 50px;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 40px;
  position: relative;
  --c:no-repeat linear-gradient(#0252ff 0 0);
  background:
    var(--c) center/100% 10px,
    var(--c) center/10px 100%;
}
.loader:before {
  content:'';
  position: absolute;
  inset: 0;
  background:
    var(--c) 0    0,
    var(--c) 100% 0,
    var(--c) 0    100%,
    var(--c) 100% 100%;
  background-size: 15.5px 15.5px;
  animation: l16 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l16 {
   33%  {inset:-10px;transform: rotate(0deg)}
   66%  {inset:-10px;transform: rotate(90deg)}
   100% {inset:0    ;transform: rotate(90deg)}
}