.prediction_bg{
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1620' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M122 515L356 749' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1277 302L1462 487' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1163 101L955 -107' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1008 221L1161 374' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M182 322L375 515' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1057 139L1263 345' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M443 414L707 678' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M796 533L462 199' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M55 171L-153 -37' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1363 216L1613 466' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1293 186L957 -150' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M947 397L1248 698' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M344 457L155 268' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M755 467L339 51' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1018 485L1339 806' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M90 238L-192 -44' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M322 433L661 772' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M45 217L220 392' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1096 33L1248 185' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M276 230L107 61' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M886 36L1050 200' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M573 305L177 -91' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M256 144L-55 -167' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M786 118L614 -54' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1290 218L1568 496' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M1221 94L904 -223' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1163 107L817 -239' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M429 365L625 561' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M426 468L32 74' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M77 484L-285 122' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M717 172L1061 516' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M914 157L1152 395' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M919 534L706 321' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M411 170L609 368' stroke-width='10' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M622 310L818 506' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M96 390L255 549' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1022%26quot%3b)' stroke-linecap='round' class='TopLeft'%3e%3c/path%3e%3cpath d='M107 350L512 755' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M1146 400L1527 781' stroke-width='6' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3cpath d='M508 47L729 268' stroke-width='8' stroke='url(%26quot%3b%23SvgjsLinearGradient1023%26quot%3b)' stroke-linecap='round' class='BottomRight'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1022'%3e%3cstop stop-color='rgba(56%2c 98%2c 231%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(56%2c 98%2c 231%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='100%25' y2='100%25' id='SvgjsLinearGradient1023'%3e%3cstop stop-color='rgba(56%2c 98%2c 231%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(56%2c 98%2c 231%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.bodyWrapper {
  margin-top: 12vh;
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 20px;
}

.btn_predict {
  margin-right: 10px;
}

.full_wrapper {
  display: flex;
  justify-content: center;
}

.header_wrapper {
  display: flex;
  justify-content: center;
  background-color: #867665;
  font-size: 20px; padding: 2px;
}

.wrapper {
  margin-bottom: 20px;
  padding: 10px;
  width: 80vw;
}

.option_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
}

.checkboxWrapper {
  width: fit-content;
  margin: 10px;
  height: 24px;
  background-color: #fff;
  border-radius: 5px;
}

.design_header {
  background-color: #23679e;
  border-radius: 10rem;
  width: 25rem;
  color: white;
  display: flex;
  justify-content: center;
}

.disease_full_wrapper {
  display: flex;
  justify-content: center;
}
.disease_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disease {
  margin-left: 10px;
  font-size: 50px;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 40px;
  position: relative;
  --c:no-repeat linear-gradient(#0252ff 0 0);
  background:
    var(--c) center/100% 10px,
    var(--c) center/10px 100%;
}
.loader:before {
  content:'';
  position: absolute;
  inset: 0;
  background:
    var(--c) 0    0,
    var(--c) 100% 0,
    var(--c) 0    100%,
    var(--c) 100% 100%;
  background-size: 15.5px 15.5px;
  animation: l16 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l16 {
   33%  {inset:-10px;transform: rotate(0deg)}
   66%  {inset:-10px;transform: rotate(90deg)}
   100% {inset:0    ;transform: rotate(90deg)}
}