.inputWrapper {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    display: flex;
    justify-content: center;
}

.hght {
    height: 100px;
}
.fullpage {
    background-color: var(--bgshade); 
    margin-bottom: 20px;
    padding: 32px;
}
.weight_input {
    margin-left: 20px
}
.option_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nutrition_container{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    margin-top: 5vh;
}
.nutrition_container h3{
    font-size: 25px; font-weight: 400;
}